<h1>All users</h1>

<div class="pagination_top"><%= will_paginate %></div>

<ul class="users">
  <%= render @users %>  <!-- This automatically iterates over the users and calls the partial for each one -->
</ul>

<div class="pagination_bottom"><%= will_paginate %></div>